<launch>

    <arg name="ns" default="/" />
    <arg name="fcu_url" default="udp://@192.168.8.1:14550" />
    <arg name="gcs_url" default="udp://127.0.0.1:14558@127.0.0.1:14610" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="pluginlists_yaml" default="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" default="$(find mavros)/launch/px4_config.yaml" />
    <arg name='id' default=""/>
    <arg name='path' default="./test.bag"/>


    <include file="$(find mavros)/launch/node.launch">
        <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
        <arg name="config_yaml" value="$(arg config_yaml)" />

        <arg name="fcu_url" value="$(arg fcu_url)" />
        <arg name="gcs_url" value="$(arg gcs_url)" />
        <arg name="tgt_system" value="$(arg tgt_system)" />
        <arg name="tgt_component" value="$(arg tgt_component)" />
    </include>


    <!--include file="$(find viconros)/launch/unit.launch"/-->

    
    <!--node pkg="offboard" type="uavinstance.py" name="uavinstance" output="screen">
        <param name="id" value="$(arg id)" type="string"/>
    </node>
    <node pkg="offboard" type="uavstabilizer.py" name="uavstabilizer" output="screen">
        <param name="id" value="$(arg id)" type="string"/>
    </node-->
</launch>
